
{% extends 'base2.html' %}
{% load static %}

{% block content %}

			<!-- contain main informative part of the site -->
			<main id="main">
				<!-- intro block -->
				<section class="intro-block">
					<div class="slider fade-slider">
						<div>
							<!-- intro block slide -->
							<article class="intro-block-slide  bg-cover" style="background-image: url({% static 'images/handymen.jpg' %});">
								<div class="align-wrap container">
									<div class="align">
										<div class="anim">
											<h1 class="intro-block-heading">HANDSKILLS <p>The Home Of Artisans</p></h1>
										</div>
										
										<div class="anim delay1">
											<p>This is a platform where all artisans and thier client meets </p>
										</div>
										<div class="anim delay2">
											<div class="btns-wrap">
												<a href="courses-list.html" class="btn btn-warning btn-white text-uppercase">OUR ARTISANS</a>
												<a href="{% url "login" %} "  class="btn btn-warning btn-theme text-uppercase">sign up to GET STARTED</a>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>	
					
						<!-- features aside -->
						<aside class="course-search-aside bg-gray">
							<!-- course search form -->
							<form class="container course-search-form" method="GET" id="searchUser" action="{% url 'search_result' %}">
								<label class="element-block text-center font-lato">Search For artisan</label>
								<div class="form-holder">
									<div class="form-row">
										<div class="form-group">
											<input type="text" placeholder="Search by occupation" name="occupation" class="form-control">
										</div>
										<div class="form-group">
											<input type="text" placeholder="Search by state" name="location" class="form-control">
										</div>
										<div class="form-group">
											<input type="text" placeholder="Search by city" name="location" class="form-control">
										</div>
										
									</div>
									<button type="submit" class="btn btn-theme btn-warning no-shrink text-uppercase">Search</button>
								</div>
							</form>
						</aside>
					
				</section>
				<!-- popular posts block -->
				<section class="popular-posts-block container">
					<header class="popular-posts-head">
						<h2 class="popular-head-heading">Most Popular workers</h2>
					</header>
					<div class="row">
						<!-- popular posts slider -->
						<div class="slider popular-posts-slider">
							{% for profile in profiles %}
							{% if profile.photo %}
							<div>
								<div class="col-xs-12">
									<!-- popular post -->
									<article class="popular-post">
										<div class="aligncenter">
											<img src="{{ profile.photo.url }}" alt="image description">
										</div>
																																												
										<h3 class="post-heading"><a href="#"> {{ profile.get_occupation_display|title }}</a></h3>
										<div class="post-author">
											<div class="alignleft rounded-circle no-shrink">
												<a href="#"><img src="{{ profile.photo.url }}" class="rounded-circle" alt="image description"></a>
											</div>
											<h4 class="author-heading"><a href="#"> {{ profile.user.get_full_name }}</a></h4>
										</div>
										
									</article>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</section>
				<!-- counter aside -->
				<aside class="bg-cover counter-aside" style="background-image: url({% static 'images/saw.jpg' %});">
					<div class="container align-wrap">
						<div class="align">
							<div class="row">
								<div class="col-xs-12 col-sm-3 col">
									<h2 class="counter-aside-heading">
										<strong class="countdown element-block">150</strong>
										<strong class="text element-block">PLUMBERS</strong>
									</h2>
								</div>
								<div class="col-xs-12 col-sm-3 col">
									<h2 class="counter-aside-heading">
										<strong class="countdown element-block">280</strong>
										<strong class="text element-block">ELECTRICIAN</strong>
									</h2>
								</div>
								<div class="col-xs-12 col-sm-3 col">
									<h2 class="counter-aside-heading">
										<strong class="countdown element-block">750</strong>
										<strong class="text element-block">PAINTERS</strong>
									</h2>
								</div>
								<div class="col-xs-12 col-sm-3 col">
									<h2 class="counter-aside-heading">
										<strong class="countdown element-block">1200</strong>
										<strong class="text element-block">HAIR STYLIST</strong>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</aside>
				<hr/>
				<hr/>

				
				<!-- course search aside -->
				
				<!-- Search Results -->
				<!-- categories aside -->
				<aside class="bg-cover categories-aside text-center" style="background-image: url({% static 'images/handyman.jpg' %});">
					<div class="container holder">
						<!-- categories list -->
						<ul class="list-unstyled categories-list">
							<li>
								<a href="#">
									<div class="align">
										<span class="icn-wrap">
											<img src="{% static 'images/pliers.svg' %}" width="43" height="43" alt="image description">
										</span>
										<strong class="h h5 element-block text-uppercase">ELECTRICIAN</strong>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="align">
										<span class="icn-wrap">
											<img src="{% static 'images/tap.svg' %}" width="44" height="48" alt="image description">
										</span>
										<strong class="h h5 element-block text-uppercase">PLUMBER</strong>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="align">
										<span class="icn-wrap">
											<img src="{% static 'images/scissors-and-comb.svg' %}" width="51" height="42" alt="image description">
										</span>
										<strong class="h h5 element-block text-uppercase">HAIR STYLIST</strong>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="align">
										<span class="icn-wrap">
											<img src="{% static 'images/paint-brush.svg' %}" width="51" height="42" alt="image description">
										</span>
										<strong class="h h5 element-block text-uppercase">PAINTING</strong>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="align">
										<span class="icn-wrap">
											<img src="{% static 'images/sewing-machine.svg' %}" width="51" height="39" alt="image description">
										</span>
										<strong class="h h5 element-block text-uppercase">FASHION DESIGNER</strong>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="align">
										<span class="icn-wrap">
											<img src="{% static 'images/welding-machine.svg' %}" width="51" height="51" alt="image description">
										</span>
										<strong class="h h5 element-block text-uppercase">WELDER</strong>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</aside>
				<!-- getstarted block -->
				
					<!-- getstarted bar -->
					
				</article>
				<!-- testimonials block -->
				<section class="testimonials-block text-center bg-gray" style="background-image: url({% static 'images/bg-pattern01.png' %});">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-sm-offset-1">
								<h2>What People Say</h2>
								<!-- testimonail slider -->
								<div class="slick-slider slider testimonail-slider">
									<div>
										<!-- testimonial quote -->
										<blockquote class="testimonial-quote font-roboto">
											<p>“ good services provided.”</p>
											<cite class="element-block font-lato">
												<span class="avatar rounded-circle element-block">
													<img class="rounded-circle" src="{% static 'images/jamiu.jpg' %}" alt="Nethor Doct -Developer">
												</span>
												<strong class="element-block h5 h">ijpunk -<span class="text-gray">client</span></strong>
											</cite>
										</blockquote>
									</div>
									<div>
										<!-- testimonial quote -->
										<blockquote class="testimonial-quote font-roboto">
											<p>“ HANDSKILLS ARTISANS ARE SO GOOD”</p>
											<cite class="element-block font-lato">
												<span class="avatar rounded-circle element-block">
													<img class="rounded-circle" src="{% static 'images/jamiu.jpg' %}" alt="Nethor Doct -Developer">
												</span>
												<strong class="element-block h5 h">ijpunk -<span class="text-gray">client</span></strong>
											</cite>
										</blockquote>
									</div>
									<div>
										<!-- testimonial quote -->
										<blockquote class="testimonial-quote font-roboto">
											<p>“HANDSKILLS is simply the best when it comes to home services . a good and experienced plumber came to repair my kitchen sink . infact i am really glad i called handskills”</p>
											<cite class="element-block font-lato">
												<span class="avatar rounded-circle element-block">
													<img class="rounded-circle" src="{% static 'images/jamiu.jpg' %}" alt="Nethor Doct -Developer">
												</span>
												<strong class="element-block h5 h">ijpunk -<span class="text-gray">client</span></strong>
											</cite>
										</blockquote>
									</div>
									<div>
										<!-- testimonial quote -->
										<blockquote class="testimonial-quote font-roboto">
											<p>“ lorem ipsum”</p>
											<cite class="element-block font-lato">
												<span class="avatar rounded-circle element-block">
													<img class="rounded-circle" src="{% static 'images/jamiu.jpg' %}" alt="Nethor Doct -Developer">
												</span>
												<strong class="element-block h5 h">ijpunk -<span class="text-gray">client</span></strong>
											</cite>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- news block -->
				<section class="news-block container">
					<header class="seperator-head text-center">
						<h2>RECENT PROJECTS</h2>
						<p>.</p>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<!-- news post -->
							<article class="news-post">
								<div class="aligncenter">
									<a href="blog-single.html"><img src="{% static 'images/suit.jpg' %}" alt="image desciption"></a>
								</div>
								<h3><a href="blog-single.html">GRADUATION SUIT</a></h3>
								<p>This suit is made by our fashion designer MR KOKU</p>
								<time datetime="2011-01-12" class="time text-uppercase text-gray">APR 02,2019  by <a href="blog-single.html">KOKU ADEBAYO</a></time>
							</article>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<!-- news post -->
							<article class="news-post">
								<div class="aligncenter">
									<a href="blog-single.html"><img src="{% static 'images/suit.jpg' %}" alt="image desciption"></a>
								</div>
								<h3><a href="blog-single.html">GRADUATION SUIT</a></h3>
								<p>This suit is made by our fashion designer MR KOKU</p>
								<time datetime="2011-01-12" class="time text-uppercase text-gray">APR 02,2019  by <a href="blog-single.html">KOKU ADEBAYO</a></time>
							</article>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<!-- news post -->
							<article class="news-post">
								<div class="aligncenter">
									<a href="blog-single.html"><img src="{% static 'images/suit.jpg' %}" alt="image desciption"></a>
								</div>
								<h3><a href="blog-single.html">GRADUATION SUIT</a></h3>
								<p>This suit is made by our fashion designer MR KOKU</p>
								<time datetime="2011-01-12" class="time text-uppercase text-gray">APR 02,2019  by <a href="blog-single.html">KOKU ADEBAYO</a></time>
							</article>
						</div>
					</div>
				</section>
				<!-- subscription aside block -->
				<aside class="subscription-aside-block bg-theme text-white">
					<!-- newsletter sub form -->
					<form action="#" class="container newsletter-sub-form">
						<div class="row form-holder">
							<div class="col-xs-12 col-sm-6 col">
								<div class="text-wrap">
									<span class="element-block icn no-shrink rounded-circle"><i class="far fa-envelope-open"><span class="sr-only">icn</span></i></span>
									<div class="inner-wrap">
										<label for="email">Signup for Newsletter</label>
										<p>Subscribe now and receive weekly newsletter with new updates.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col">
								<div class="input-group">
									<input type="email" id="email" class="form-control" placeholder="Enter your email&hellip;">
									<span class="input-group-btn">
										<button class="btn btn-dark text-uppercase" type="button">Submit</button>
									</span>
								</div>
							</div>
						</div>
					</form>
				</aside>
			</main>
			<!-- footer area container -->
{% endblock %}