<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/5218.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <title>DeeStarks University</title>
</head>
<body>
    <div class="front_page" id="front_page">
        <div class="background">
            <div class="navbar">
                <a href="index.html" id="brand"><div class="brand">
                    <div class="logo">D<span>U</span></div>
                    <div class="brand_text">
                        <div>
                            <div>DEESTARKS</div>
                            <div>UNIVERSITY</div>
                        </div>
                    </div>
                </div></a>
                <div class="nav_items">
                    <a href="start.html">Get Started</a>
                    <a href="#" class="out">LOG OUT</a>
                    <i class="fas fa-bars"></i>
                </div>
            </div>

        <div class="main_body">
            <div class="body_title">YOUR PROFILE</div>
            <hr>
            <div class="profile">
                <div class="container">
                    <div class="row gutters-sm">
                        <div class="col-lg-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="img_upload 0"><img src="images/default-user.png"></div>
                                        <label class="custom-file">
                                            <input type="file" id="avatar_upload" class="custom-file-input">
                                            <div class="img-upload-btn">
                                                <span class="custom-file-control upload_profile"><i class="fas fa-user pr-2"> Change Avatar</i></span>
                                            </div>
                                        </label>
                                        <br>
                                        <div class="mt-5">
                                            <h4 class="text-uppercase profile-name">user name</h4>
                                            <p class="text-secondary mb-1">Computer Science Undergraduate</p>
                                            <p class="text-muted font-size-sm">Bachelors Degree</p>
                                        </div>
                                        <br>
                                        <div class="profile-below p__t">Role: <span>Student</span></div>
                                        <div class="profile-below">Status: <span>Active</span></div>
                                        <div class="profile-below">Registered: <span>1 month(s), 5 day(s) ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row pr_tl">
                                        <div class="col-sm-6 text-secondary">
                                        <i class="fas fa-graduation-cap"></i> 2020/2021 Session
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                        Second Semester <i class="fas fa-cogs"></i>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary text-uppercase">
                                        User Name
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        username@mail.com
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        (+234) 810 9000 000
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        Lagos, Nigeria
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Registration No.</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        001
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Department</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        Computer Science
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Faculty</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        Natural and Applied Sciences
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Level</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        Sophomore (200L)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="jq/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
