{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="http://localhost:8080/css/base.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="row justify-content-center" style="margin-top:140px; margin-bottom:60px;">
            <div class="col-sm-6">
                <div class="card bg-light shadow-lg"> 
                    <div class="card-body">
                    <h1>Edit your account</h1>
                    <p>You can edit your account using the following form:</p>
                    <form method="post" enctype="multipart/form-data">
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}
                    {% csrf_token %}
                    <p><input type="submit" value="Save changes"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}