{% block title %}Dashboard{% endblock %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css-2/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>HANDSKILLS</title>
</head>
<body>
    <div class="front_page" id="front_page">
        <div class="background">
            <div class="navbar">
                <a href="index.html" id="brand"><div class="brand">
                    <div class="logo">H<span>S</span></div>
                    <div class="brand_text">
                        <div>
                            <div>HANDSKILLS</div>
                            
                        </div>
                    </div>
                </div></a>
                <div class="nav_items">
                    <a href="{% url "home" %}">Get Started</a>
                    <a href="{% url "logout" %} " class="out">LOG OUT</a>
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="sidebar">
                <div class="side_in">
                    <div class="side_profile">
                        <i class="fas fa-times"></i>
                        <a href="{% url "profile" %}"><div class="dp d-flex align-items-center justify-content-center"><img src="{% if profile_pic %}{{ profile_pic }}{% else %}{% static 'images/default.png' %}{% endif %}" alt="" width="100%"></div>
                        <div class="name profile-name">{{request.user.last_name}}{{request.user.first_name}}</div></a>
                    </div>
                    <div class="sidenav_link">
                        <div>
                        
                            <a href="courses.html"><i class="fas fa-book"></i>Courses</a>
                            <a href="records.html"><i class="fas fa-file-alt"></i>Records</a>
                            <a href="{% url "profile" %}" class="active"><i class="fas fa-user"></i>Profile</a>
                            <a href="notification.html"><i class="fas fa-bell"></i>Notification <span>2</span></a>

                            <a href="start.html" class="side_link02"><i class="fas fa-info-circle"></i>Get Started</a>
                            <a href="#"><i class="fas fa-power-off"></i>Log Out</a>
                        </div>
                    </div>
                    <div class="account">
                        <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                        <div class="acct_title">Development by Onoja Daniel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="open_side">
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="side_nav">
            <div class="side_in">
                <div class="side_profile">
                    <i class="fas fa-chevron-left"></i>
                    <a href="{% url "profile" %}"><div class="dp d-flex align-items-center justify-content-center"><img src="{% if profile_pic %}{{ profile_pic }}{% else %}{% static 'images/default.png' %}{% endif %}" alt="" width="100%"></div>
                    <div class="name profile-name">{{request.user.last_name}}</div></a>
                </div>
                <div class="sidenav_link">
                    <div>
                        
                        <a href="courses.html"><i class="fas fa-book"></i>Courses</a>
                        <a href="records.html"><i class="fas fa-file-alt"></i>Records</a>
                        <a href="{% url "profile" %}" class="active"><i class="fas fa-user"></i>Profile</a>
                        <a href="notification.html"><i class="fas fa-bell"></i>Notification <span>2</span></a>

                    </div>
                </div>
                <div class="account">
                    <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                    <div class="acct_title">Development by Onoja Daniel</div>
                </div>
            </div>
        </div>
        <div class="main_body">
            <div class="body_title">MY PROFILE</div>
            <hr>
            <div class="profile">
                <div class="container">
                    <div class="row gutters-sm">
                        <div class="col-lg-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="img_upload 0"><img src="{% if profile_pic %}{{ profile_pic }}{% else %}{% static 'images/default.png' %}{% endif %}"></div>
                                        <br>
                                        <div class="mt-5">
                                            <h4 class="text-uppercase profile-name">{{request.user.first_name}} {{request.user.last_name}}</h4>
                                            <p class="text-secondary mb-1">{{request.user.profile.get_occupation_display}}</p>
                                        
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-lg-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row pr_tl">
                                        <div class="col-sm-6 text-secondary">
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                        MY PROFILE <i class="fas fa-cogs"></i>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary text-uppercase">
                                            {{request.user.first_name}}     {{request.user.last_name}}
                                        </div>
                                    </div>
                                    
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{request.user.email}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{request.user.profile.phone}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{request.user.profile.address}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Occupation.</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{request.user.profile.get_occupation_display}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">State</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{request.user.profile.state}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">City</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{request.user.profile.city}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Experience</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{request.user.profile.experience}} years
                                        </div>
                                    </div>
                                    <hr>
                                    
                                    <hr>
                                    <a href="{% url "edit" %}" class="btn btn-outline-primary btn-sm">edit your profile</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'jq/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
{% endblock %}