{% extends 'base2.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>


	<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		
		<!-- contain main informative part of the site -->
		<main id="main">
			<!-- heading banner -->
			<header class="heading-banner text-white bgCover" style="background-image: url(http://placehold.it/1920x181);">
				<div class="container holder">
					<div class="align">
						<h1>About Me</h1>
					</div>
				</div>
			</header>
		
			<!-- two columns -->
			<div id="two-columns" class="container">
				<div class="row">
					<!-- content -->
					<article id="content" class="col-xs-12 col-md-9">
						<!-- content h1 -->
						<h1 class="content-h1 fw-semi">welcome To Artisan Page</h1>
						<!-- view header -->
						<header class="view-header row">
							<div class="col-xs-12 col-sm-9 d-flex">
								<div class="d-col">
									<!-- post author -->
									
									<div class="post-author">
										<div class="description-wrap">
											<h2 class="author-heading">NAME</h2>
											<h3 class="author-heading-subtitle text-uppercase">{{ request.user.first_name }}</h3>
										</div>
										
									</div>
									
								</div>
								
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
										<div class="alignleft no-shrink icn-wrap">
											<i class="far fa-bookmark"></i>
										</div>
										<div class="description-wrap">
											<h2 class="author-heading"><a href="#">Occupation</a></h2>
											<h3 class="author-heading-subtitle text-uppercase">{{request.user.profile.get_occupation_display}} </h3>
										</div>
									</div>
								</div>
							</div>
							
						</header>
						
						<h3 class="content-h3">Artisan Description</h3>
						<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
						<p>Encyclopaedia galactica Orion's sword explorations vanquish the impossible, astonishment radio telescope with pretty stories for which there's little good evidence light years muse about, great turbulent clouds billions upon billions the sky calls to us realm of the galaxies laws of physics globular star cluster. Quasar the only home we've ever known extraordi claims require extraordinary evidence billions upon billions Drake Equation.</p>
						<h3 class="content-h3">What is my work?</h3>
						<p></p>
						<ul class="listDefault list-unstyled">
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<p></p>
						
						</section>

						<!-- reviesSubmissionForm -->
						<form action="#" class="reviesSubmissionForm">
							<h2 class="text-noCase">Add a Review</h2>
							<p>Your email address will not be published. Required fields are marked <span class="required">*</span></p>
							<div class="form-group">
								<span class="formLabel fw-normal font-lato no-shrink">Your Rating</span>
								<ul class="star-rating list-unstyled">
									<li>
										<input type="checkbox" id="rate1" class="customFormReset">
										<label for="rate1" class="fas fa-star"><span class="sr-only">star</span></label>
									</li>
									<li>
										<input type="checkbox" id="rate2" class="customFormReset">
										<label for="rate2" class="fas fa-star"><span class="sr-only">star</span></label>
									</li>
									<li>
										<input type="checkbox" id="rate3" class="customFormReset">
										<label for="rate3" class="fas fa-star"><span class="sr-only">star</span></label>
									</li>
									<li>
										<input type="checkbox" id="rate4" class="customFormReset">
										<label for="rate4" class="fas fa-star"><span class="sr-only">star</span></label>
									</li>
									<li>
										<input type="checkbox" id="rate5" class="customFormReset">
										<label for="rate5" class="fas fa-star"><span class="sr-only">star</span></label>
									</li>
								</ul>
							</div>
							<div class="form-group">
								<label for="rview" class="formLabel fw-normal font-lato no-shrink">Your Review <span class="required">*</span></label>
								<textarea id="rview" class="form-control element-block"></textarea>
							</div>
							<div class="form-group">
								<label for="name" class="formLabel fw-normal font-lato no-shrink">Name <span class="required">*</span></label>
								<input type="text" id="name" class="form-control element-block">
							</div>
							<div class="form-group">
								<label for="Email" class="formLabel fw-normal font-lato no-shrink">Email <span class="required">*</span></label>
								<input type="email" id="Email" class="form-control element-block">
							</div>
							<button type="submit" class="btn btn-theme btn-warning text-uppercase font-lato fw-bold">Submit</button>
						</form>
					</article>
					<!-- sidebar -->
				
				</div>
			</div>
		</main>
		<!-- footer area container -->

		</div>
	</div>
	<!-- include jQuery -->
	
   
	
</body>
</html>
{% endblock %}